@font-face {
    font-family: "GeistMedium";
    src: url('/webFonts/Geist/Geist-Medium.woff2') format('woff2');
}

@font-face {
    font-family: "GeistBlack";
    src: url('/webFonts/Geist/Geist-Black.woff2') format('woff2');
}

