@import 'bulma/css/bulma.min.css';
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

@use "bulma/sass/utilities/controls";
@use "bulma/sass/themes";

@use "bulma/sass/elements/button";
@use "bulma/sass/components/message";

.bulma-control-mixin {
    @include controls.control;
    background: deeppink;
    color: white;
}

@media (prefers-color-scheme: light) {
    :root {
        /* Update CSS variables */
    }
}

[data-theme=light],
.theme-light {
    /* Update CSS variables */
}

.logo {
    font-family: 'Bai Jamjuree', sans-serif;
    margin-left: 0.7em;
    margin-top: 0.3em;
}

a, a:visited, a:hover, a:active {
    color: inherit !important;
}

.NesobriteExpBook {
    font-family: NesobriteExpBook;
}

.neso {
    font-family: NesobriteExpBook;
}
