@import 'bulma/css/bulma.min.css';
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

@use "bulma/sass/utilities/controls";
@use "bulma/sass/themes";

@use "bulma/sass/elements/button";
@use "bulma/sass/components/message";

.bulma-control-mixin {
    @include controls.control;
    background: deeppink;
    color: white;
}

@media (prefers-color-scheme: light) {
    :root {
        /* Update CSS variables */
    }
}

[data-theme=light],
.theme-light {
    /* Update CSS variables */
}

a, a:visited, a:hover, a:active {
    color: inherit !important;
}

.geist {
    font-family: GeistMedium;
}

.logowrapper {
    border-bottom: 1px solid grey !important;
}

.footer {
    background-color: inherit !important;
}

.advent {
    font-family: 'Advent Pro', sans-serif;
}

.advent_fat {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 600;
}

.carlito {
    font-weight: 400;
    font-family: 'Carlito', sans-serif;
}

.carlito_fat {
    font-family: 'Carlito', sans-serif;
    font-weight: 700;
}

.sofia {
    font-weight: 400;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

.sofia_fat {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-weight: 700;
}

.verdana {
    font-family: "Verdana";
}

#slides {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: dense;
}

.container img {
    height: 100%;
}

.bricks-sizer,
.grid-item {
    width: 14%;
 }

.grid-item {
    padding: 2px;
}

.grid-item img {
    max-width: 100%;
}

